<tr>
  <td><%= w000t.long_url %></td>
  <td><%= w000t.short_url %></td>
  <td><%= w000t.number_of_click %></td>
  <td><%= w000t.user_pseudo if w000t.user %></td>
  <td><%= link_to 'Show', w000t %></td>
  <td><%= link_to 'Destroy', w000t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
