<tr>
  <td><%= printable_long_url(w000t) %></td>
  <td><%= w000t.short_url %></td>
  <td><%= w000t.number_of_click %></td>
  <td>
    <%= pretty_http_status(w000t.url_info) %>
  </td>
  <td>
    <%= w000t.archive %>
  </td>
  <td>
    <%= link_to w000t, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
      <i class="fa fa-trash"></i>
    <% end %>
    <%= link_to redirect_path(w000t), method: :get, class: 'btn btn-default' do  %>
      <i class="fa fa-external-link"></i>
    <% end %>
    <% if current_user && current_user.admin? %>
      <%= link_to admin_check_url_path(admin: { long_url: w000t.long_url }),
          method: :post, remote: true, class: 'btn btn-default' do  %>
        <i class="fa fa-link"></i>
      <% end %>
    <% end %>
  </td>
</tr>
