<h1>Listing w000ts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Long url</th>
      <th>Short url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @w000ts.each do |w000t| %>
      <tr>
        <td><%= w000t.long_url %></td>
        <td><%= w000t.short_url %></td>
        <td><%= link_to 'Show', w000t %></td>
        <td><%= link_to 'Edit', edit_w000t_path(w000t) %></td>
        <td><%= link_to 'Destroy', w000t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New W000t', new_w000t_path %>
