<h1>My w000ts</h1>

<%= form_tag nil, method: :get do %>
  <%= label_tag :tags, "Search for tags:" %>
  <%= text_field_tag :tags, nil, class: "tags-search form-control", id: "tokenfield-typeahead" %>
  <%= submit_tag "Search", class: "hidden" %>
<% end %>
<div class="btn-group btn-lg pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Filter <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% UrlInfo::TYPES.each do |type| %>
      <li>
      <a href="#"></a>
      <%= link_to w000ts_me_by_type_path(type: type, tags: @tags) do  %>
        <%= url_type_span(type) %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th class="col-xs-8">Long url</th>
      <th class="col-xs-1">Clicks</th>
      <th class="col-xs-1">Status</th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @w000ts.each do |w000t| %>
      <%= render partial: 'w000ts/w000t', locals: { w000t: w000t } %>
    <% end %>
  </tbody>
</table>

<%= paginate @w000ts %>

<br>

<%= link_to new_w000t_path, class: 'btn btn-default pull-right' do %>
  <i class="fa fa-plus-square"></i> New w000t
<% end %>

<%= render 'layouts/w000t_preview_modal' %>
