<h1>My w000ts</h1>

<div class="row">
  <div id="search-forms" class="col-xs-9">
    <div id="tokenfield-form" class="form">
      <%= form_tag nil, method: :get do %>
        <%= text_field_tag :tags, nil, class: "tags-search form-control", placeholder: 'Filter by tags', id: "tokenfield-typeahead" %>
        <%= submit_tag "Search", class: "hidden" %>
      <% end %>
    </div>
    <div id="fuzzy-form" class="form">
      <%= form_tag nil, method: :get do %>
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "Search", id: "search-input" %>
        <%= submit_tag "Search", class: "hidden" %>
      <% end %>
    </div>
  </div>
  <div id="search-toggle" class="col-xs-2 btn-group btn-group-inherit" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button id="tokenfield" type="button" class="btn btn-default">Tags</button>
    </div>
    <div class="btn-group" role="group">
      <button id="fuzzy" type="button" class="btn btn-default">Search</button>
    </div>
  </div>

  <div class="col-xs-1">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Filter <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to w000ts_me_path(tags: @tags) do  %>
            <%= content_tag :i, '', class: "fa fa-ban" %> No filter
          <% end %>
        </li>
        <% UrlInfo::TYPES.each do |type| %>
          <li>
          <a href="#"></a>
          <%= link_to w000ts_me_by_type_path(type: type, tags: @tags) do  %>
            <%= url_type_span(type) %>
          <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>

<br>

<table class="table table-responsive">
  <thead>
    <tr>
      <th class="col-xs-7">Long url</th>
      <th class="col-xs-1">Clicks</th>
      <th class="col-xs-1">Status</th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @w000ts.each do |w000t| %>
      <%= render partial: 'w000ts/w000t', locals: { w000t: w000t } %>
    <% end %>
  </tbody>
</table>

<%= paginate @w000ts %>

<br>

<%= link_to new_w000t_path, class: 'btn btn-default pull-right' do %>
  <i class="fa fa-plus-square"></i> New w000t
<% end %>

<%= render 'layouts/w000t_preview_modal' %>
