<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @w000t.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @w000t.short_url %>
</p>

<%= link_to 'Edit', edit_w000t_path(@w000t) %> |
<%= link_to 'Back', w000ts_path %>
