<p id="notice"><%= notice %></p>

<div class="col-md-8 col-md-offset-2 col-xs-12">
  <h1>
    <i class="fa fa-tachometer"></i>
    w000t details
  </h1>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>
            Long URL
            <i class="fa fa-external-link pull-right"></i>
          </h5>
        </div>
        <div class="panel-body">
            <td><%= @w000t.url_info_url %></td>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>
            Short URL
            <i class="fa fa-dedent pull-right"></i>
          </h5>
        </div>
        <div class="panel-body">
          <%= @w000t_url %>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>
            Number of clicks
            <i class="fa fa-line-chart pull-right"></i>
          </h5>
        </div>
        <div class="panel-body">
            <td><%= @w000t.number_of_click %></td>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>
            HTTP Status
            <i class="fa fa-heart pull-right"></i>
          </h5>
        </div>
        <div class="panel-body">
          <%= pretty_http_status(@w000t.url_info) %>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>
            Type
            <i class="fa fa-gears pull-right"></i>
          </h5>
        </div>
        <div class="panel-body">
          <%= @w000t.url_info.type %>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>
            Clicks
            <span class="label label-primary pull-right"><%= @w000t.clicks.count %><span>
            <i class="fa fa-world pull-right"></i>
          </h5>
        </div>
        <div class="panel-body">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>IP</th>
                <th>Address</th>
                <th>Coordinates</th>
                <th>Date</th>
              </tr>
            </thead>

            <tbody>
              <% @w000t.clicks.last(10).each do |click| %>
              <tr>
                <td><%= click.ip %></td>
                <td><%= click.address %></td>
                <td><%= click.coordinates %></td>
                <td><%= click.created_at %></td>
              </tr>
              <% end %>
              <% unless @w000t.clicks.count <= 10 %>
              <tr><td colspan=4 class="text-center">...</td></tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', w000ts_path %>
